[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"
pymysql = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
dockerrun = "bash -c 'docker build . -t album-server-image && docker run -d -p 8000:8000 album-server-image'"
dockerpush = "bash -c 'docker tag album-server-image skymttk/album-server-image && docker push skymttk/album-server-image'"
